@import url("bootstrap.css");

#board-biography {
    max-width: 600px;
    margin: 50px auto;
    margin-top: none !important;
    padding: 5px 25px 25px;
    background-color: #FFFFFF;
}

#board-biography h1 {
    text-align: center;
    padding-bottom: 10px;
}
#board-biography img {
    width: 100%;
}

#board-biography ul {
    margin: 0;
    padding: 0;
}
#board-biography li {
    margin-left: none;
    list-style-type: none;
    font-size: 16px;
    padding-bottom: 10px;
}

#board-biography .info-title {
    font-weight: bold;
}
#board-biography .why-ibsa,
#board-biography .life-motto {
    padding-left: 25px;
    display: block;
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
}